@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: #fafafa;
  --color-black: #0e0a01;
  --color-light-gray: #dddddd;
  --color-gray: #727168;
  --color-dark-gray: #4a4a46;

  --color-foreground: var(--color-black);
  --color-background: var(--color-white);

  --color-primary-3-lighter: #DCE6D1;
  --color-primary-2-ligher: #d2fcb1;
  --color-primary-1-lighter: #b0fa78;
  --color-primary: #69f300;
  --color-primary-1-darker: #51b505;
  --color-primary-2-darker: #377904;

  --color-secondary-1-lighter: #ec93e0;
  --color-secondary: #f300d2;
  --color-secondary-1-darker: #d70e87;

  --color-card:#DFFEC7;
  --color-card-hover:#fef3c7;
  --color-success:#1FBC3B;
  --color-error:#E62361;
  font-size:16px;
}


@media (prefers-color-scheme: dark) {
  :root {
    --color-white: #0e0a01;
    --color-black: #fafafa;

   

    --color-light-gray: #4a4a46;
    --color-gray: #727168;
    --color-dark-gray: #dddddd;

    --color-primary-3-lighter: #377904;
    --color-primary-2-ligher: #51b505;
    --color-primary-1-lighter: #84ec34;
    --color-primary: #b0fa78;
    --color-primary-1-darker: #d2fcb1;
    --color-primary-2-darker: #DCE6D1;

    --color-secondary-1-lighter: #d70e87;
    --color-secondary: #f300d2;
    --color-secondary-1-darker: #ec93e0;

    --color-card: #1a1a1a;
    --color-card-hover: #2a2a2a;
    --color-success: #93f7a7;
    --color-error: #ff85a1;
  }
  img{
    filter:invert(1)
  }
}
 *{
  transition:0.3s;
}
 
 @media screen and (max-width:1024px){
  :root{
    font-size:14px;
  }
 }
 @media screen and (max-width:758px){
  :root{
    font-size:10px;
  }
 }
body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: 'Inter', sans-serif;
  font-size:16px;
  position:relative;
}
*{
  box-sizing: border-box;
}
.small{
  font-size: 13px;
  text-transform: uppercase;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 500;
  margin: 0;
}
h1 {
  font-size: 3.8rem;
}
h2 {
  font-size: 3.06rem;
}
h3 {
  font-size: 2.43rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.56rem;
}
h6, label {
  font-size: 1.35rem;
}
.link{
  text-decoration: underline;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(233,240,228,0.8);
  backdrop-filter: blur(10px);
  z-index: 50;
}
.modal{
  display:flex;
  justify-content: center;
  flex-direction: column;
  background-color:var(--color-white);
  color:var(--color-black);
  padding:45px;
  border-radius:16px;
  box-shadow:0 4px 4px rgba(0,0,0,0.15);
  gap:2em;
  position:relative;
  align-items: center;
}
.inputs{
  display:flex;
  flex-direction: column;
  gap:1em;

}

input{
    background-color: transparent;
    border:solid 1px gray;
    color:var(--color-foreground);
    background:linear-gradient(to right, rgba(61, 61, 61, 0.011), rgba(255, 255, 255, 0.08));
  padding:10px 16px;
  border-radius:16px;
  }
input[type="number"]{
  max-width:120px;
}
.close{
  position:absolute;
  top:1em;
  right:1em;
  cursor: pointer;
  filter:drop-shadow(0 1px 0 var(--color-black));
}
.outer-container{
  padding:5vh 5vw;
}
label{
  font-weight: 600;
}
button{
  max-width:fit-content;
}
input[type="password"]:after{
  width:50px;
  height:50px;
  background-image: url("/Eye.svg");
}