@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: #fafafa;
  --color-black: #0e0a01;
  --color-light-gray: #d5d5d5;
  --color-gray: #727168;
  --color-dark-gray: #4a4a46;

  --foreground: var(--color-black);
  --background: var(--color-white);

  --color-primary-3-lighter: #DCE6D1;
  --color-primary-2-ligher: #d2fcb1;
  --color-primary-1-lighter: #b0fa78;
  --color-primary: #69f300;
  --color-primary-1-darker: #51b505;
  --color-primary-2-darker: #377904;

  --color-secondary-1-lighter: #ec93e0;
  --color-secondry: #f300d2;
  --color-secondary-1-darker: #d70e87;

  font-size:16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: var(--color-white);
    --background: var(--color-black);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
  
}

.small{
  font-size: 0.8rem;
  text-transform: uppercase;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 500;
  margin: 0;
}
h1 {
  font-size: 3.8rem;
}
h2 {
  font-size: 3.06rem;
}
h3 {
  font-size: 2.43rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.56rem;
}
h6 {
  font-size: 1.25rem;
}